@model app.Services.MainMenuServices.MainMenuViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int SN = 1;
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Menu List </li>
            </ol>
            <div>
                <a asp-action="AddRecord"><i class="fa fa-plus"></i>  Add New Menu </a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row w-100">
                    <div class="col-sm-3">
                        <h5> <i class="fas fa-list"></i>  All Menu </h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="mainmenuTable" class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Name
                                </th>
                                <th class="text-center">
                                    Icon
                                </th>
                                <th class="text-center">
                                    OrderNo
                                </th>
                                <th class="text-center"> Status </th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>
                                        @SN
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td class="text-center">
                                        @Html.Raw(item.Icon)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.OrderNo)
                                    </td>
                                    <td class="text-center">
                                        @if (item.IsActive == false)
                                        {
                                            <b class="text-danger"> <i class="fas fa-times-circle fa-2x" style="font-size:20px"></i></b>
                                        }
                                        else
                                        {
                                            <b class="text-success"> <i class="fas fa-check-square" style="font-size:20px"></i></b>
                                        }

                                    </td>
                                    <td class="text-center">
                                        @Html.ActionLink("", "UpdateRecord", new {id=item.Id},new {@class = "text-danger fas fa-edit",  onclick = "return confirm('Are you sure you want to edit this?')" }) |
                                        @Html.ActionLink("","Delete", new {  id=item.Id},new {@class = "text-danger fas fa-trash",  onclick = "return confirm('Are you sure you want to delete this?')" })
                                    </td>
                                </tr>
                                SN++;
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#User-Management').addClass('menu-open');
            $('#MainMenuIndex').addClass('active');
        });
    </script>

    <script>
        $(document).ready(function () {

            $('#mainmenuTable').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                order: [[0, 'desc']],
            });
        });
    </script>
    }

