@model app.Services.MainMenuServices.MainMenuSearchDto
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Menu List </li>
            </ol>
            <div>
                <a asp-action="AddRecord"><i class="fa fa-plus"></i> Add Menu </a>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row w-100">
                    <div class="col-sm-3">
                        <h5> <i class="fas fa-list"></i> All Menus </h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="MainMenuSearchTable" class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.SerialNo)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Icon)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.OrderNo)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.IsActive)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Action)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#User-Management').addClass('menu-open');
            $('#MainMenuSearch').addClass('active');

            search();
        });

        $(document.body).on("click", "#MainMenuDTSearchBtn", function () {
            search();
        });

        function getSearchObject() {

            var searchVm = {
                "CategoryId": $("#CategoryId").val(),
                "UnitId": $("#UnitId").val(),
            }
            return searchVm;
        }

        function search() {
            var searchVm = getSearchObject();

            if ($.fn.DataTable.isDataTable("#MainMenuSearchTable")) {
                var table = $("#MainMenuSearchTable").DataTable();
                table.destroy();
            }

            var params = "";
            if (searchVm != undefined && searchVm !== "") {
                params = { searchVm: searchVm }
            }

            var oTable = $("#MainMenuSearchTable").DataTable({
                "aLengthMenu": [[25, 50, 100, 200], [25, 50, 100, 200]],
                "iDisplayLength": 25,
                "processing": true,
                "serverSide": true,
                "bSort": false,
                "ajax": {
                    url: "/MainMenu/Search",
                    type: "POST",
                    data: params
                },

                "columns": [
                    {
                        data: "SerialNo",
                        render: function (data, type, row, meta) {
                            return row.serialNo;
                        }
                    },
                    {
                        data: "Name",
                        render: function (data, type, row, meta) {
                            return row.name;
                        }
                    },
                    {
                        data: "Icon",
                        render: function (data, type, row, meta) {
                            return row.icon;
                        }
                    },
                    {
                        data: "OrderNo",
                        render: function (data, type, row, meta) {
                            return row.orderNo;
                        }
                    },
                    {
                        data: "IsActive",
                        render: function (data, type, row, meta) {
                            var result = "";
                            if (row.isMenuShow == false) {
                                var result = '<b class="text-danger" > <i class="fas fa-times-circle fa-2x" style = "font-size:20px" > </i></b >';
                            }
                            else {
                                var result = '<b class="text-success" > <i class="fas fa-check-square" style = "font-size:20px" > </i></b >';
                            }
                            return result;
                        }
                    },
                    {
                        data: "Action",
                        render: function (data, type, row, meta) {
                            var editBtn = "<a href='UpdateRecord/" + row.id + "'><i class='fas fa-pen text-warning m-1' title='Edit' aria-hidden='true'></i></a>";
                            var deleteBtn = "<a href='Delete/" + row.id + "'><i class='fas fa-trash text-danger m-1' title='Delete' aria-hidden='true'></i></a>";
                            var actionBtn = editBtn + deleteBtn;
                            return actionBtn;
                        }
                    }
                ]
            });
        }
    </script>
}
