@model app.Services.UserServices.UserSearchDto
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Users List </li>
            </ol>
            <div>
                <a asp-action="AddRecord"><i class="fa fa-plus"></i>  Add User </a>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row w-100">
                    <div class="col-sm-3">
                        <h5> <i class="fas fa-list"></i>  All Users </h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
              @*   <div class="row">
                    <div class="col-sm-12">
                        <form method="post" asp-controller="Product" asp-action="Search">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.ProductCategories">
                                            <option value="0" selected>--Category--</option>
                                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Unit</label>
                                        <select class="form-control" asp-for="UnitId" asp-items="ViewBag.Units">
                                            <option value="0" selected>--Unit--</option>
                                            <span asp-validation-for="UnitId" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-right">
                                @*<a href="@Url.Action("Search","Product")"><input type="submit" formtarget="_blank" value="Preview" class="btn btn-preview btn-width" /></a>*@
                                @*<button asp-controller="Product" asp-action="Search" type="submit" title="Download" class="btn btn-report btn-width"><i class="fa fa-download"></i></button>*@
                              @*   <input id="ProductDTSearchBtn" type="button" value="Search" class="btn btn-info btn-width" />
                                <a href="@Url.Action("Search","Product")"><input type="button" value="Clear" class="btn btn-warning btn-width" /></a>
                            </div>
                        </form>
                    </div>
                </div>  *@
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="UserSearchTable" class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.SerialNo)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.FullName)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.UserName)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th class="text-center">
                                            @* @Html.DisplayNameFor(model => model.IsActive) *@
                                            Status
                                        </th>
                                       @*  <th class="text-center">
                                            @Html.DisplayNameFor(model => model.SalePrice)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th> *@
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Action)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#Configuration').addClass('menu-open');
            $('#UserIndex').addClass('active');

            search();
        });

        $(document.body).on("click", "#UserDTSearchBtn", function () {
            search();
        });

        function getSearchObject() {

            var searchVm = {
                "CategoryId": $("#CategoryId").val(),
                "UnitId": $("#UnitId").val(),
            }
            return searchVm;
        }

        function search() {
            var searchVm = getSearchObject();

            if ($.fn.DataTable.isDataTable("#UserSearchTable")) {
                var table = $("#UserSearchTable").DataTable();
                table.destroy();
            }

            var params = "";
            if (searchVm != undefined && searchVm !== "") {
                params = { searchVm: searchVm }
            }

            var oTable = $("#UserSearchTable").DataTable({
                "aLengthMenu": [[25, 50, 100, 200], [25, 50, 100, 200]],
                "iDisplayLength": 25,
                "processing": true,
                "serverSide": true,
                "bSort": false,
                "ajax": {
                    url: "/User/Search",
                    type: "POST",
                    data: params
                },

                "columns": [
                    {
                        data: "SerialNo",
                        render: function (data, type, row, meta) {
                            return row.serialNo;
                        }
                    },
                    {
                        data: "FullName",
                        render: function (data, type, row, meta) {
                            return row.fullName;
                        }
                    },
                    {
                        data: "UserName",
                        render: function (data, type, row, meta) {
                            return row.userName;
                        }
                    },
                    {
                        data: "Email",
                        render: function (data, type, row, meta) {
                            return row.email;
                        }
                    },
                    {
                        data: "IsActive",
                        render: function (data, type, row, meta) {
                            return row.isActive;
                        }
                    },
                    {
                        data: "Action",
                        render: function (data, type, row, meta) {
                            var editBtn = "<a href='UpdateRecord/" + row.id + "'><i class='fas fa-pen text-warning m-1' title='Edit' aria-hidden='true'></i></a>";
                            //var detailsBtn = "<a href='Details/" + row.id + "'><i class='fa fa-eye text-info m-1' title='Details' aria-hidden='true'></i></a>";
                            var deleteBtn = "<a href='Delete/" + row.id + "'><i class='fas fa-trash text-danger m-1' title='Delete' aria-hidden='true'></i></a>";
                            var actionBtn = editBtn + deleteBtn;
                            return actionBtn;
                        }
                    }
                ]
            });
        }
    </script>
}
