@model app.Services.AttendanceServices.AttendanceSearchDto
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Attendance List </li>
            </ol>
            <div>
                <a asp-action="AddRecord"><i class="fa fa-plus"></i>  Add Attendance </a>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row w-100">
                    <div class="col-sm-3">
                        <h5> <i class="fas fa-list"></i>  All Attendance </h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form method="post" asp-controller="Attendance" asp-action="Search">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Employee</label>
                                        <select class="form-control" asp-for="EmployeeId" asp-items="ViewBag.Employees">
                                            <option value="0" selected>--Employee--</option>
                                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Shift</label>
                                        <select class="form-control" asp-for="ShiftId" asp-items="ViewBag.Shifts">
                                            <option value="0" selected>--Shift--</option>
                                            <span asp-validation-for="ShiftId" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-right">
                                <input id="AttendanceDTSearchBtn" type="button" value="Search" class="btn btn-info btn-width" />
                                <a href="@Url.Action("Search","Attendance")"><input type="button" value="Clear" class="btn btn-warning btn-width" /></a>
                            </div>
                        </form>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="AttendanceSearchTable" class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.SerialNo)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.EmployeeName)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.ShiftName)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.AttendanceDate)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.LoginTime)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.LogoutTime)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Remarks)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Action)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#Attendance').addClass('menu-open');
            $('#AttendanceSearch').addClass('active');

            search();
        });

        $(document.body).on("click", "#AttendanceDTSearchBtn", function () {
            search();
        });

        function getSearchObject() {

            var searchVm = {
                "EmployeeId": $("#EmployeeId").val(),
                "ShiftId": $("#ShiftId").val(),
            }
            return searchVm;
        }

        function search() {
            var searchVm = getSearchObject();

            if ($.fn.DataTable.isDataTable("#AttendanceSearchTable")) {
                var table = $("#AttendanceSearchTable").DataTable();
                table.destroy();
            }

            var params = "";
            if (searchVm != undefined && searchVm !== "") {
                params = { searchVm: searchVm }
            }

            var oTable = $("#AttendanceSearchTable").DataTable({
                "aLengthMenu": [[25, 50, 100, 200], [25, 50, 100, 200]],
                "iDisplayLength": 25,
                "processing": true,
                "serverSide": true,
                "bSort": false,
                "ajax": {
                    url: "/Attendance/Search",
                    type: "POST",
                    data: params
                },

                "columns": [
                    {
                        data: "SerialNo",
                        render: function (data, type, row, meta) {
                            return row.serialNo;
                        }
                    },
                    {
                        data: "EmployeeName",
                        render: function (data, type, row, meta) {
                            return row.employeeName;
                        }
                    },
                    {
                        data: "ShiftName",
                        render: function (data, type, row, meta) {
                            return row.shiftName;
                        }
                    },
                    {
                        data: "AttendanceDate",
                        render: function (data, type, row, meta) {
                            var result = FormatDateForView(row.attendanceDate);
                            return result;
                        }
                    },
                    {
                        data: "LoginTime",
                        render: function (data, type, row, meta) {
                            var result = FormatTimeForView(row.loginTime);
                            return result;
                        }
                    },
                    {
                        data: "LogoutTime",
                        render: function (data, type, row, meta) {
                            var result = FormatTimeForView(row.logoutTime);
                            return result;
                        }
                    },
                    {
                        data: "Remarks",
                        render: function (data, type, row, meta) {
                            return row.remarks;
                        }
                    },
                    {
                        data: "Action",
                        render: function (data, type, row, meta) {
                            var editBtn = "<a href='UpdateRecord/" + row.id + "'><i class='fas fa-pen text-warning m-1' title='Edit' aria-hidden='true'></i></a>";
                            var deleteBtn = "<a href='Delete/" + row.id + "'><i class='fas fa-trash text-danger m-1' title='Delete' aria-hidden='true'></i></a>";
                            var actionBtn = editBtn + deleteBtn;
                            return actionBtn;
                        }
                    }
                ]
            });
        }
    </script>
}
