@model app.Services.LeaveBalanceServices.LeaveBalanceSearchDto
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Leave Balance List </li>
            </ol>
            <div>
                <a asp-action="AddRecord"><i class="fa fa-plus"></i>  Add Leave Balance </a>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row w-100">
                    <div class="col-sm-6">
                        <h5> <i class="fas fa-list"></i>  All Leave Balances </h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form method="post" asp-controller="LeaveBalance" asp-action="Search">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Leave Category</label>
                                        <select class="form-control" asp-for="LeaveCategoryId" asp-items="ViewBag.LeaveCategoryList">
                                            <option value="0" selected>--Select Leave Category--</option>
                                            <span asp-validation-for="LeaveCategoryId" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-right">
                                <input id="LeaveBalanceDTSearchBtn" type="button" value="Search" class="btn btn-info btn-width" />
                                <a href="@Url.Action("Search","LeaveBalance")"><input type="button" value="Clear" class="btn btn-warning btn-width" /></a>
                            </div>
                        </form>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="LeaveBalanceSearchTable" class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.SerialNo)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.LeaveCategoryName)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.LeaveQty)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Action)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--Delete Modal-->

<div class="modal fade" tabindex="-1" id="deleteModal" data-toggle="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="Delete" asp-controller="LeaveBalance" method="post">
                <div class="modal-header bg-light">
                    <h5 class="modal-title " id="exampleModalLabel">Delete Leave Balance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <h3 class="text-danger">Are you sure to delete this?</h3>
                    @Html.HiddenFor(model => model.Id, new { id = "hidDeleteId" })

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#Leave').addClass('menu-open');
            $('#LeaveBalanceSearch').addClass('active');

            search();
        });

        $(document.body).on("click", "#LeaveBalanceDTSearchBtn", function () {
            search();
        });

        function getSearchObject() {

            var searchVm = {
                "LeaveCategoryId": $("#LeaveCategoryId").val(),
                "LeaveQty": $("#LeaveQty").val(),
            }
            return searchVm;
        }

        function search() {
            var searchVm = getSearchObject();

            if ($.fn.DataTable.isDataTable("#LeaveBalanceSearchTable")) {
                var table = $("#LeaveBalanceSearchTable").DataTable();
                table.destroy();
            }

            var params = "";
            if (searchVm != undefined && searchVm !== "") {
                params = { searchVm: searchVm }
            }

            var oTable = $("#LeaveBalanceSearchTable").DataTable({
                "aLengthMenu": [[25, 50, 100, 200], [25, 50, 100, 200]],
                "iDisplayLength": 25,
                "processing": true,
                "serverSide": true,
                "bSort": false,
                "ajax": {
                    url: "/LeaveBalance/Search",
                    type: "POST",
                    data: params
                },

                "columns": [
                    {
                        data: "SerialNo",
                        render: function (data, type, row, meta) {
                            return row.serialNo;
                        }
                    },
                    {
                        data: "LeaveCategoryName",
                        render: function (data, type, row, meta) {
                            return row.leaveCategoryName;
                        }
                    },
                    {
                        data: "LeaveQty",
                        render: function (data, type, row, meta) {
                            return row.leaveQty;
                        }
                    },
                    {
                        data: "Description",
                        render: function (data, type, row, meta) {
                            return row.description;
                        }
                    },
                    {
                        data: "Action",
                        render: function (data, type, row, meta) {
                            var editBtn = "<a href='UpdateRecord/" + row.id + "'><i class='fas fa-pen text-warning m-1' title='Edit' aria-hidden='true'></i></a>";
                            var deleteBtn = "<a href='Delete/" + row.id + "' data-toggle='modal' data-target='#deleteModal' data-id='" + row.id + "' onclick='DeleteOnClick(" + row.id + ")'><i class='fas fa-trash text-danger m-1' title='Delete' aria-hidden='true'></i></a>";
                            var actionBtn = editBtn + deleteBtn;
                            return actionBtn;
                        }
                    }
                ]
            });
        }

        //Delete Modal
        function DeleteOnClick(id) {
            $("#hidDeleteId").val(id);
        }

    </script>
}
