@using app.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model app.Services.ATMAssemble.AssembleWorkServices.AssembleWorkViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sn = 1;
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Assemble Work Details</li>
            </ol>
            <div>
                <a asp-action="Index"><i class="fa fa-plus"></i> Assemble Work Details</a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>
                    <i class="fas fa-list"></i> Assemble Work Details
                </h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="width:18%">Assemble Work Name</th>
                            <th style="width:2%">:</th>
                            <td style="width:30%">@Model.AssembleWorkCategoryName</td>

                            <th style="width:18%">Assemble Date</th>
                            <th style="width:2%">:</th>
                            <td style="width:30%">@Model.AssembleDate.ToString("dd-MM-yyyy")</td>
                        </tr>
                        <tr>
                            <th style="width:18%">Description</th>
                            <th style="width:2%">:</th>
                            <td style="width:30%">@Model.Description</td>

                            <th style="width:18%">Status</th>
                            <th style="width:2%">:</th>
                            <td style="width:30%" id="statusName_@Model.Id">@Model.StatusName</td>
                        </tr>
                    </table>
                </div>

                <div>
                    <h6 class="card-title text-info">
                        <i class="fas fa-list"></i> Assemble Work Employees
                    </h6>
                    <div class="table-responsive">
                        <table id="aaa" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Employee Name</th>
                                    <th class="text-center">Designation</th>
                                    <th class="text-center">Department</th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    var empSl = 1;

                                    foreach (var item in Model.EmployeeList)
                                    {
                                        <tr>
                                            <td class="text-center">@empSl</td>
                                            <td class="text-left">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td class="text-left">
                                                @Html.DisplayFor(modelItem => item.DesignationName)
                                            </td>
                                            <td class="text-left">
                                                @Html.DisplayFor(modelItem => item.DepartmentName)
                                            </td>
                                        </tr>
                                        empSl++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <h6 class="card-title text-info">
                        <i class="fas fa-list"></i> Assemble Work Items
                    </h6>
                    <div class="table-responsive">
                        <table id="bbb" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Assemble Work Step</th>
                                    <th class="text-center">Assemble Work Step Item</th>
                                    <th class="text-center">Remarks</th>
                                    <th class="text-center">Is Complete</th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    var itemSl = 1;

                                    foreach (var item in Model.DetailList)
                                    {
                                        <tr>
                                            <td class="text-center">@itemSl</td>
                                            <td class="text-left">
                                                @Html.DisplayFor(modelItem => item.AssembleWorkStepName)
                                            </td>
                                            <td class="text-left">
                                                @Html.DisplayFor(modelItem => item.AssembleWorkStepItemName)
                                            </td>
                                            <td class="text-left">
                                                @Html.DisplayFor(modelItem => item.Remarks)
                                            </td>
                                            <td class="text-center">
                                                @if (@item.IsComplete)
                                                {
                                                    <strong class="text-success">Yes</strong>
                                                }
                                                else if (@Model.StatusId != (int)AssembleWorkStatusEnum.Fault)
                                                {
                                                    <a id="makeComplete_@item.Id" style="cursor:pointer;" onClick="makeComplete(@item.AssembleWorkId, @item.Id,@Model.AssembleWorkCategoryId, @item.AssembleWorkStepId,@item.AssembleWorkStepItemId);" title="Make Complete"
                                                       data-placement="top">
                                                        <i class="fa fa-square text-info" aria-hidden="true"></i>
                                                    </a>
                                                    <strong id="completed_@item.Id" style="display: none;" class="text-success">Yes</strong>
                                                }
                                            </td>
                                        </tr>
                                        itemSl++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                @if (Model.StatusId == (int)AssembleWorkStatusEnum.Confirm)
                {
                    <div class="row mr-1" style="float:right">
                        <a id="statusFault_@Model.Id" style="cursor:pointer;" onClick="statusFault(@Model.Id);" title="Make Fault"
                           data-placement="top">
                            <input type="button" value="Fault" class="btn btn-warning" />
                        </a>
                        <a id="statusComplete_@Model.Id" style="cursor:pointer;" onClick="statusComplete(@Model.Id);" title="Make Complete"
                           data-placement="top">
                            <input type="button" value="Complete" class="btn btn-primary ml-1" />
                        </a>

                    </div>
                }
            </div>
        </div>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            "use strict"

            $('#ATM-Assemble').addClass('menu-open');
            $('#AssembleWorkSearch').addClass('active');

            // $('#assembleWorkTable').DataTable({
            //     "paging": true,
            //     "ordering": true,
            //     "info": true,
            //     order: [[0, 'asc']],
            // });
        });

        function makeComplete(assembleWorkId, id, assembleWorkCategoryId, assembleWorkStepId, assembleWorkStepItemId) {

            $.ajax({
                type: "post",
                url: "@Url.Action("MakeStepItemComplete", "AssembleWork")",
                data: { assembleWorkId: assembleWorkId, assembleWorkDetailId: id, assembleWorkCategoryId: assembleWorkCategoryId, assembleWorkStepId: assembleWorkStepId, assembleWorkStepItemId: assembleWorkStepItemId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    if (data.isSuccess) {
                        $('#makeComplete_' + data.assembleWorkDetailId).hide();
                        $('#completed_' + data.assembleWorkDetailId).show();

                    } else {
                        $('#makeComplete_' + data.assembleWorkDetailId).show();
                        $('#completed_' + data.assembleWorkDetailId).hide();
                    }
                    location.reload();
                }
            });
        }

        function statusComplete(assembleWorkId) {

            $.ajax({
                type: "post",
                url: "@Url.Action("MakeStatusComplete", "AssembleWork")",
                data: { assembleWorkId: assembleWorkId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    if (data.isSuccess) {
                        $('#statusComplete_' + data.assembleWorkId).hide();
                        $('#statusFault_' + data.assembleWorkId).hide();
                        $('#statusName_' + data.assembleWorkId).text("Complete");

                    } else {
                        $('#statusComplete_' + data.assembleWorkId).show();
                        $('#statusFault_' + data.assembleWorkId).show();
                    }
                    location.reload();
                }
            });
        }

        function statusFault(assembleWorkId) {

            $.ajax({
                type: "post",
                url: "@Url.Action("MakeStatusFault", "AssembleWork")",
                data: { assembleWorkId: assembleWorkId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    if (data.isSuccess) {
                        $('#statusComplete_' + data.assembleWorkId).hide();
                        $('#statusFault_' + data.assembleWorkId).hide();
                        $('#statusName_' + data.assembleWorkId).text("Fault");
                    } else {
                        $('#statusComplete_' + data.assembleWorkId).show();
                        $('#statusFault_' + data.assembleWorkId).show();
                    }
                    location.reload();
                }
            });
        }

    </script>
}