@inject IAssignMenus workcontect
@inject IWorkContext getuser
@{
    var menulist = await workcontect.MenuList();
    var currentuse = await getuser.GetCurrentUserAsync();
}
<style>
    [class*=sidebar-light-] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*=sidebar-light-] .nav-sidebar > .nav-item:hover > .nav-link {
        background-color: #C6DA72 !important;
        color: #1E1E1E !important;
        font-weight: 900;
    }

        [class*=sidebar-light-] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*=sidebar-light-] .nav-sidebar > .nav-item:hover > .nav-link i {
            color: #1E1E1E !important;
        }

    .nav-treeview > .nav-item > .nav-link.active, [class*=sidebar-light-] .nav-treeview > .nav-item > .nav-link.active:hover {
        background-color: #f5ffcd !important;
        color: #1E1E1E !important;
        border: 1px solid #fff !important;
        font-weight: 900;
    }

    .navbar-white {
        /* background-color: #fff; */
        color: #fbf3ea !important;
        background-color: #0E9547;
    }

    .layout-navbar-fixed .wrapper .sidebar-light-info .brand-link:not([class*=navbar]) {
        color: #fbf3ea;
        background-color: #0E9547;
    }

    .main-header .nav-link i {
        color: #fbf3ea !important;
    }

    [class*=sidebar-light-] {
        background-color: #ededed !important;
    }

    .main-sidebar .nav-link i {
        color: #0E9547;
    }

    .nav-sidebar > .nav-item {
        margin-bottom: 0;
        border-bottom: 1px solid #C6DA72;
    }

    .sidebar-dark-info .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-info .nav-sidebar > .nav-item > .nav-link.active {
        background-color: #C6DA72;
        color: #fff;
        border-radius: 0rem !important;
    }

    [class*=sidebar-light-] .nav-sidebar > .nav-item > .nav-treeview {
        background-color: white;
    }
</style>

<aside class="main-sidebar sidebar-light-info elevation-4">
    <a href="/Admin/Index" class="brand-link text-center" style="line-height:1.4;font-size:17px">
        <b>  @currentuse.Email</b>

    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item" style="font-weight:500;display:flex;">
                    <div style="height:100%;width:auto;">
                        <img src="~/kgfile/ZaraZaman.png" style="width:30%;height:auto;border-radius:30px;display:block; margin-left:auto; margin-right:auto" title="Zara Zaman" alt="Zara Zaman" />
                    </div>

                    <p style="font-weight:800;text-align:center;padding: 4px 0px 8px 0px;margin-bottom:0px; font-size: 18px;">
                        @*   @currentuse.FullName*@
                        
                    </p>

                </li>

                <li class="nav-item" style="font-weight:800">

                    <a asp-controller="Admin" asp-action="Index" id="Dashboard" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>

                @if (currentuse != null)
                {
                    @foreach (var item in menulist.MainMenuVm)
                    {
                        @if (item.MenuItemVMs.Count() > 0)
                        {

                            <li class="nav-item" id="@item.ActiveId"> 
                                <a href="#" class="nav-link">
                                    @Html.Raw(item.Icon)
                                    <p>
                                        @item.Name
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @foreach (var menu in item.MenuItemVMs)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="@menu.Action" asp-controller="@menu.Controller" id="@menu.Controller@menu.Action" class="nav-link">
                                                @Html.Raw(menu.Icon)
                                                <p>@menu.Name</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                    }
                }

            </ul>
        </nav>
    </div>
</aside>
