@model UserPermissionViewModel
@{
    ViewData["Title"] = "AddPermission";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Permission List</li>
            </ol>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row w-100">
                    <div class="col-sm-3">
                        <h5> <i class="fas fa-list"></i> All Permission</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="UserId" class="control-label"> User Name </label>
                            <select asp-for="UserId" id="UserId" class="form-control select2">
                                <option value="">-- Select User --</option>
                                @foreach (var item in ViewBag.Record.DataList)
                                {
                                    <option value="@item.UserId"> @item.FullName _ @item.Email _ @item.Mobile</option>
                                }

                            </select>
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-4"></div>
                </div>

                @foreach (var item in Model.DataList)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="mb-2"> <b class="text-info">@item.MenuName </b></h6>
                            <div class="progress" style="height: 1px;">
                                <div class="progress-bar" role="progressbar" style="width:100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="row mt-2">
                                @foreach (var menu in item.MenuItemList)
                                {
                                    <div class="col-md-3 mb-3">
                                        @if (menu.IsPermission == true)
                                        {
                                            <a id="cust_@menu.Id"  style="cursor:pointer" onclick="activePermission(@menu.Id)"> <b class="text-success"> <i class="fa fa-check-square"> </i> @menu.Name </b></a>
                                        }
                                        else
                                        {
                                            <a id="cust_@menu.Id" style="cursor:pointer" onclick="inactivePermission(@menu.Id)"> <b class="text-primary"> <i class="fa fa-square"> </i> @menu.Name </b></a>
                                        }

                                        @* data-toggle="modal" data-target="#deleteModal" data-id="@menu.Id" *@
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                </>
            </div>
        </div>
    </div>

</section>
@* 
<!--AddPermission Modal-->

<div class="modal fade" tabindex="-1" id="deleteModal" data-toggle="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="AddPermission" asp-controller="UserPermission" method="get">
                <div class="modal-header bg-light">
                    <h5 class="modal-title " id="exampleModalLabel">User Permission</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <h6 class="text-danger">Are you sure to change the Permission?</h6>
                    @Html.HiddenFor(model => model.Id, new { id = "hidUserPermissionId" })

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Ok</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!--ChangePermission Modal-->


<div class="modal fade" tabindex="-1" id="deleteModal" data-toggle="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="ChangePermission" asp-controller="UserPermission" method="get">
                <div class="modal-header bg-light">
                    <h5 class="modal-title " id="exampleModalLabel">User Change Permission</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <h3 class="text-danger">Are you sure to User Change Permission this?</h3>
                    @Html.HiddenFor(model => model.Id, new { id = "hidUserPermissionId" })

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Ok</button>
                </div>
            </form>

        </div>
    </div>
</div>
 *@

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#User-Management').addClass('menu-open');
            $('#UserPermissionAddPermission').addClass('active');
        });


        $("#UserId").change(function () {
            var userid = $("#UserId option:selected").val();
            window.location.href = "/UserPermission/AddPermission?id=" + userid + "";
        })

        function activePermission(id) {
            // $("#hidUserPermissionId").val(id);

            var userid = $("#UserId option:selected").val();
            // var id = $("#hidUserPermissionId").val();
            if (userid == "") {
                //$.notify("Please select user first!", "error");
                alert("Please select user first!");
                return;
            }

            if (confirm("Are you sure you went to change  Permission?")) {
                $.ajax({
                    url: "/UserPermission/ChangePermission?id=" + id + "&&userid=" + userid + "",
                    typr: "GET",
                    success: function (data) {
                        if (data) {
                            //$.notify("Update successfully", "success");
                            setTimeout(function () {
                                var userid = $("#UserId option:selected").val();
                                window.location.href = "/UserPermission/AddPermission?id=" + userid + "";
                            }, 500);
                        } else {
                            //$.notify("Sommething went wrong!", "error");
                            alert("Sommething went wrong!", "error");
                        }
                    },
                });
            }
        }

        function inactivePermission(id) {
            // $("#hidUserPermissionId").val(id);
            var userid = $("#UserId option:selected").val();

            // var id = $("#hidUserPermissionId").val();

            if (userid == "") {
                //$.notify("Please select user first!", "error");
                alert("Please select user first!");
                return;
            }

            if (confirm("Are you sure you went to change Permission?")) {
                $.ajax({
                    url: "/UserPermission/ChangePermission?id=" + id + "&&userid=" + userid + "",
                    typr: "GET",
                    success: function (data) {
                        if (data) {
                            //$.notify("Update successfully", "success");
                            setTimeout(function () {
                                var userid = $("#UserId option:selected").val();
                                window.location.href = "/UserPermission/AddPermission?id=" + userid + "";
                            }, 500);
                        } else {
                            //$.notify("Sommething went wrong!", "error");
                            alert("Sommething went wrong!", "error");
                        }
                    },
                });
            }
        }

    </script>
}