@model app.Services.AssetAllocationServices.AssetAllocationViewModel
@using app.Utility
@{
    ViewData["Title"] = "AddAssetAllocationAndDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sl = 0;
}

<style>
    .bootstrap-tagsinput .tag {
        margin-right: 2px;
        color: blue !important;
    }

    .bootstrap-tagsinput {
        padding: 8px 78px !important;
    }

</style>
<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Asset Allocation </li>
            </ol>
            <div>
                <a asp-action="Search"><i class="fa fa-list"></i> Asset Allocation List </a>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">

                @if (Model.Id > 0)
                {
                    <h3 class="card-title text-info">
                        <i class="fas fa-plus"></i>
                        Asset Allocation Information
                    </h3>
                }
                else
                {
                    <h3 class="card-title text-info">
                        <i class="fas fa-plus"></i>
                        Asset Allocation
                    </h3>
                }
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="AddAssetAllocationAndDetail" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" class="form-control" hidden id="assetAllocationId" />
                            <input asp-for="ActionId" hidden id="actionId" />
                            <input asp-for="AssetAllocationDetailVM.Id" class="form-control" id="assetAllocationDetailsId" hidden />

                            @if (Model.Id > 0)
                            {
                                <div class="card-body">
                                    <div class="row rounded">
                                        <table class="table table-bordered border-primary">
                                            <tr>
                                                <th style="width:18%">Asset No</th>
                                                <td style="width:30%">@Model.OrderNo</td>

                                                <th style="width:18%"> Date</th>
                                                <td style="width:30%">@(Model?.Date.ToString("dd/MM/yyyy")) </td>
                                            </tr>
                                            <tr>
                                                <th>Employee Name </th>
                                                <td>@Model.EmployeeName </td>


                                                <th style="width:18%">Department Name </th>
                                                <td style="width:30%">@Model.DepartmentName </td>

                                            </tr>

                                            @* <tr>
                                        <th>OverAll Discount</th>
                                        <td>@Model.OverallDiscount</td>
                                        <th style="width:18%">Order Status</th>
                                        <td style="width:30%">@Model.AssetAllocationStatusId</td>
                                        </tr> *@

                                        </table>
                                    </div>
                                </div>

                            }
                            @if (Model.Id == 0)
                            {
                                <div class="row">

                                    @* <div class="col-md-2">
                                <div class="form-group">
                                <label>Order No </label>
                                <input asp-for="OrderNo" class="form-control" autocomplete="off" required />
                                <span asp-validation-for="OrderNo" class="text-danger"></span>
                                </div>
                                </div> *@

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Asset Date </label>
                                            <input asp-for="Date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" type="date" autocomplete="off" required />
                                            <span asp-validation-for="Date" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Department Name</label>
                                            <select class="form-control" asp-for="DepartmentId" asp-items="ViewBag.DepartmentList" required>
                                                <option value="0" selected>-- Select Department --</option>
                                                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Employee Name</label>
                                            <select class="form-control" asp-for="EmployeeId" asp-items="ViewBag.EmployeeList" required>
                                                <option value="0" selected>-- Select Employee --</option>
                                                <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                            </select>
                                        </div>
                                    </div>

                                    
                                </div>
                                @*
                            <div class="row">
                            <div class="col-md-12">
                            <div class="form-group">
                            <label asp-for="Remarks  " class="control-label">Remarks </label>
                            <textarea asp-for="Remarks " class="form-control" rows="2"></textarea>
                            </div>
                            </div>
                            </div> *@
                            }
                            @if (Model.AssetAllocationStatusId == (int)AssetAllocationStatusEnum.Draft)
                            {
                                <div class="" style="padding-top:30px;">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group" w-100>
                                                <label>Item Name </label>

                                                @* <select class="form-control" asp-for="AssetAllocationDetailVM.ProductName" id="productId" asp-items="ViewBag.ProductList" required>
                                            <option value="0" selected>-- Select Product --</option>
                                            <span asp-validation-for="AssetAllocationDetailVM.ProductName" class="text-danger"></span>
                                            </select> *@

                                                <select class="form-control" asp-for="AssetAllocationDetailVM.ProductId" id="productId" asp-items="ViewBag.ProductList" required>
                                                    <option value="0" selected>-- Select Product --</option>
                                                    <span asp-validation-for="AssetAllocationDetailVM.ProductId" class="text-danger"></span>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label> Quantity</label>
                                                <input asp-for="AssetAllocationDetailVM.Quantity" id="quantity" class="form-control" required min="1" />
                                                <span asp-validation-for="AssetAllocationDetailVM.Quantity" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Item Tags  </label>
                                                @* <input asp-for="AssetAllocationDetailVM.Tags" id="tags" class="form-control" required min="0" /> *@

                                                @* <input asp-for="AssetAllocationDetailVM.Tags" id="tags" class="form-control" type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" /> *@

                                                <select id="tag" multiple data-role="tagsinput" asp-for="AssetAllocationDetailVM.Tag" type="text" class="form-control" style="width:100%" placeholder="Enter Tags Number" data-role="tagsinput" required>
                                                    @* <option value="@Html.ViewBag" selected></option> *@

                                                    <span asp-validation-for="AssetAllocationDetailVM.Tag" class="text-danger"></span>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea rows="2" asp-for="AssetAllocationDetailVM.Description" id="txtDescription" class="form-control"></textarea> 
                                                <span asp-validation-for="AssetAllocationDetailVM.Description" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                            <div class="form-group" style="float:right">
                                <button type="submit" id="aaCreateBtn" onclick="generateTags()" class="btn btn-primary btn-block">
                                    <i class='fa fa-plus'></i>
                                    @if (Model.Id > 0)
                                    {
                                        <span>Add Another</span>
                                    }
                                    else
                                    {
                                        <span>Create</span>
                                    }
                                </button>
                            </div>
                            @if (Model.Id > 0)
                            {
                                <input asp-for="Id" class="form-control" hidden />
                                <div class="table-responsive col-md-12  text-nowrap">
                                    <table id="KgErpDataTable" class="table caption-top">
                                        <thead class="table-light table-bordered border-primary">
                                            <tr>
                                                <th style="padding:5px;text-align:center;">SL</th>
                                                <th style="padding: 5px; text-align: left;">Item Name</th>
                                                <th style="padding: 5px; text-align: left;">Quantity </th>
                                                <th style="padding: 5px; text-align: left;">Item Tags </th>
                                                <th style="padding: 5px; text-align: left;">Description</th>

                                                @* <th style="padding: 5px; text-align: right; ">Consumption</th>
                                            <th style="padding: 5px; text-align: right; ">Cost Price</th>
                                            <th style="padding: 5px; text-align: right; ">Sale Price</th>
                                            <th style="padding: 5px; text-align: right; ">Total Price</th> *@

                                                @if (Model.AssetAllocationStatusId == (int)AssetAllocationStatusEnum.Draft)
                                                {
                                                    <th style="padding:5px;text-align:center;">Action</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.AssetAllocationDetailsList)
                                            {

                                                <tr>
                                                    <td style="padding:5px">@(++sl)</td>
                                                    <td style="padding:5px;text-align:left;">@item.ProductName</td>
                                                    <td style="padding: 5px; text-align: left;">@item.Quantity</td>
                                                    <td style="padding: 5px; text-align: left;">@item.Tags</td>
                                                    <td style="padding: 5px; text-align: left;">@item.Description</td>

                                                    @* <td style="padding:5px;text-align:left;">@String.Format("{0:0.00}", item.UnitName)</td>
                                            <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.Consumption)</td>
                                            <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.CostPrice)</td>
                                            <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.SalePrice)</td>
                                            <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.TotalAmount)</td> *@

                                                    @{
                                                        if (Model.AssetAllocationStatusId == (int)AssetAllocationStatusEnum.Draft)
                                                        {
                                                            <td style="padding:5px;text-align:center;">
                                                                <a id="@item.Id" onclick="makeEditble(@item.Id);" class="linkPointer" title="Edit"><i class="text-warning fas fa-edit" aria-hidden="true"></i></a>
                                                                <a id="@item.Id" onclick="makeDeletable(@item.Id)" class="linkPointer"><i class="text-danger fas fa-trash" aria-hidden="true"></i></a>
                                                            </td>
                                                        }
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @if (Model.Id > 0 && Model.AssetAllocationStatusId == (int)AssetAllocationStatusEnum.Draft)
                        {
                            <div class="form-group" style="float:right">
                                <button asp-action="ConfirmAssetAllocation" method="post" id="confirmButton" class="linkPointer btn btn-success  btn-block">Confirm</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

    @*     <script>
        $(document).ready(function () {
            $('#Health').addClass('menu-open');
            $('#NewGrade').addClass('active');

            // Initialize Bootstrap Tags Input on the input field
            $('#tags').tagsinput();
        });

        window.setTimeout(function () {
            $(".alert").fadeTo(500,).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script> *@
    <script>
        $(document).ready(function () {
            $('#Asset-Management').addClass('menu-open');
            $('#AssetAllocationAddAssetAllocationAndDetail').addClass('active');
            // Initialize Bootstrap Tags Input on the input field
            $('#tag').tagsinput();
        });
        window.setTimeout(function () {
            $(".alert").fadeTo(500,).slideUp(500, function () {
                $(this).remove();

            });
        }, 4000);

        // Allocation Details Edit

        function makeEditble(rowId) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateSingleAssetAllocationDetails", "AssetAllocation")",
                datatype: "Json",
                data: { id: rowId },
                success: function (data) {
                    $('#aaCreateBtn').html("<i class='fas fa-edit'></i>&nbsp;Update");
                    $("#assetAllocationId").val(data.id);
                    $("#assetAllocationDetailsId").val(data.id);
                    $('#actionId').val(2);
                    $("#productId").val(data.productId);
                    $("#quantity").val(data.quantity);
                    // $("#tag").val(data.getTags[]);
                    $("#tag").val(data.tag);
                    // Clear existing selections
                    // $('#tag').tagsinput('removeAll');

                    // // Loop through each tag in data.tag array and add it to the multi-select dropdown
                    // for (var i = 1; i < data.tag.length; i++) {
                    //     $('#tag').tagsinput('add', data.tag[i]);
                    // }

                    for (let i = 0; i < 10; i++) {
                        $('<option/>').val(i).text('option ' + i).appendTo('#tag')
                    }

                    $("#txtDescription").val(data.description);
                    $("#costPrice").val(data.costPrice);
                    $("#salePrice").val(data.salePrice);
                    $("#discount").val(data.discount);
                    $("#txtRemarks").val(data.remarks);
                    window.scrollTo({ top: 0, behavior: 'smooth' });
                }



            });
        }


        //Confirm Allocation
        $("#confirmButton").on("click", function () {
            var id = @Model.Id;
            $.ajax({
                type: "POST",
                url: "/AssetAllocation/ConfirmAssetAllocation",
                data: { id: id },
                success: function (result) {
                    if (result) {
                        alert("AssetAllocation confirmed successfully");
                        window.location.href = "/AssetAllocation/Search/";

                    } else {
                        alert("AssetAllocation confirmation failed");
                    }
                },
                error: function (error) {
                    // Handle the error case here
                    console.error("Error occurred during AJAX request:", error);
                }
            });
        });
        $("#DepartmentId").on("change", function () {
            var departmentId = $(this).val();
            $.ajax({
                type: "GET",
                url: "/Dropdown/GetEmployeeListByDepartment",
                data: { department: departmentId },
                success: function (data) {
                    var employee = "<select>";
                    employee = employee + '<option value="">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        employee = employee + '<option value=' + data[i].id + '>' + data[i].name + '</option>';
                    }
                    employee = employee + '</select>';
                    $('#EmployeeId').html(employee);
                },
                error: function (error) {
                    // Handle the error case here
                    console.error("Error occurred during AJAX request:", error);
                }
            });
        });


        function makeDeletable(rowId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("DeleteAssetAllocationDetailsById", "AssetAllocation")",
                data: { id: rowId },
                success: function (data) {
                    if (data) {
                        alert("Delete successfully");
                        window.location.href = "/AssetAllocation/Index/";

                    } else {
                        alert("Delete failed");
                    }
                    window.scrollTo({ top: 0, behavior: 'smooth' });
                    location.reload();
                }
            });
        }

        // $(document).ready(function () {
        //     $('#tag').on('change', function (event) {

        //         var AssetQuantity = $('#quantity').val();
        //         var getTags = new Array[AssetQuantity];

        //         if (getTags == AssetQuantity) {
        //             getTags.push($(this).val());
        //         }else{
        //             $('.bootstrap-tagsinput input').attr('readonly', false);
        //         }
        //         console.log(getTags);
        //     });
        // });


        // Shakib --1


        $(document).ready(function () {
            $('#tag').on('change', function (event) {
                var assetQuantity = parseInt($('#quantity').val()); // Parse quantity input value as integer
                var getTags = $('.bootstrap-tagsinput').find('span.tag').length; // Count existing tags

                if (assetQuantity == getTags) { // Check if the number of tags equals the quantity
                    // Prevent adding more tags and show a message
                    $('.bootstrap-tagsinput input').attr('readonly', true);
                    // Reset the input field value or handle it as needed
                    // $('#tag').val('');
                    // alert("You've reached the maximum allowed tags.");
                } else if (assetQuantity < getTags) {
                    // Reset the tag input field and alert user to reduce the number of tags
                    $('.bootstrap-tagsinput input').attr('readonly', true);
                    alert("Please reduce the number of tags to match the quantity.");
                } else {
                    // Reset the tag input field if the quantity allows more tags
                    $('.bootstrap-tagsinput input').attr('readonly', false);
                    // alert("You can add more tags.");
                }
                console.log(getTags);
            });
        });








    </script>

}



