@model app.Services.AssetAllocationServices.AssetAllocationSearchDto
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Asset Allocation List </li>
            </ol>
            <div>
                <a asp-action="AddAssetAllocationAndDetail"><i class="fa fa-plus"></i>  Add Asset Allocation </a>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row w-100">
                    <div class="col-sm-3">
                        <h5> <i class="fas fa-list"></i>  All Asset Allocation </h5>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="AssetPurchaseOrderSearchTable" class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.SerialNo)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.OrderNo)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Date)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.EmployeeName)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.DepartmentName)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.AssetAllocationStatusId)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Remarks)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Action)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#Asset-Management').addClass('menu-open');
            $('#AssetAllocationSearch').addClass('active');

            search();
        });

        $(document.body).on("click", "#AssetAllocationDTSearchBtn", function () {
            search();
        });

        function getSearchObject() {

            var searchVm = {
                
            }
            return searchVm;
        }

        function search() {
            var searchVm = getSearchObject();

            if ($.fn.DataTable.isDataTable("#AssetAllocationSearchTable")) {
                var table = $("#AssetAllocationSearchTable").DataTable();
                table.destroy();
            }

            var params = "";
            if (searchVm != undefined && searchVm !== "") {
                params = { searchVm: searchVm }
            }

            var oTable = $("#AssetAllocationSearchTable").DataTable({
                "aLengthMenu": [[25, 50, 100, 200], [25, 50, 100, 200]],
                "iDisplayLength": 25,
                "processing": true,
                "serverSide": true,
                "bSort": false,
                "ajax": {
                    url: "/AssetAllocation/Search",
                    type: "POST",
                    data: params
                },

                "columns": [
                    {
                        data: "SerialNo",
                        render: function (data, type, row, meta) {
                            return row.serialNo;
                        }
                    },
                    {
                        data: "OrderNo",
                        render: function (data, type, row, meta) {
                            return row.orderNo;
                        }
                    },
                    {
                        data: "Date",
                        render: function (data, type, row, meta) {
                            return row.date;
                        }
                    },
                    {
                        data: "EmployeeName",
                        render: function (data, type, row, meta) {
                            return row.employeeName;
                        }
                    },
                    {
                        data: "DepartmentName",
                        render: function (data, type, row, meta) {
                            return row.departmentName;
                        }
                    },
                    {
                        data: "AssetAllocationStatusId",
                        render: function (data, type, row, meta) {
                         return row.assetAllocationStatusId;
                        }
                    },
                    {
                        data: "Remarks",
                        render: function (data, type, row, meta) {
                            return row.remarks;
                        }
                    },
                    // {
                    //     data: "TotalAmount",
                    //     render: function (data, type, row, meta) {
                    //         var txt = '<div style="text-align: right">' + Number(row.totalAmount).toFixed(2) + '</div>';
                    //         return txt;
                    //     }
                    // },
                    {
                        data: "Action",
                        render: function (data, type, row, meta) {
                            var editBtn = "<a href='UpdateAssetAllocation/" + row.id + "'><i class='fas fa-pen text-warning m-1' title='Edit' aria-hidden='true'></i></a>";
                            var detailsBtn = "<a href='AssetAllocationDetails/" + row.id + "'><i class='fa fa-eye text-info m-1' title='Details' aria-hidden='true'></i></a>";
                            var deleteBtn = "<a href='DeleteAssetAllocation/" + row.id + "'><i class='fas fa-trash text-danger m-1' title='Delete' aria-hidden='true'></i></a>";
                            var actionBtn = editBtn + detailsBtn + deleteBtn;
                            return actionBtn;
                        }
                    }
                ]
            });
        }
    </script>
}
