@model app.Services.MenuItemServices.MenuItemSearchDto
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Menu Item List </li>
            </ol>
            <div>
                <a asp-action="AddRecord"><i class="fa fa-plus"></i>  Add Menu Item </a>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row w-100">
                    <div class="col-sm-3">
                        <h5> <i class="fas fa-list"></i>  All Menu Items </h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form method="post" asp-controller="MenuItem" asp-action="Search">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Menu</label>
                                        <select class="form-control" asp-for="MenuId" asp-items="ViewBag.Record">
                                            <option value="0" selected>--Menu--</option>
                                            <span asp-validation-for="MenuId" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-right">  
                                <input id="MenuItemDTSearchBtn" type="button" value="Search" class="btn btn-info btn-width" />
                                <a href="@Url.Action("Search","MenuItem")"><input type="button" value="Clear" class="btn btn-warning btn-width" /></a>
                            </div>
                        </form>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="MenuItemSearchTable" class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.SerialNo)
                                        </th>
                                        <th class="text-center">
                                              @Html.DisplayNameFor(model => model.MenuName)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.ShortName)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Controller)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.ControllerAction)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Icon)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.OrderNo)
                                        </th>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Action)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#User-Management').addClass('menu-open');
            $('#MenuItemSearch').addClass('active');

            search();
        });

        $(document.body).on("click", "#MenuItemDTSearchBtn", function () {
            search();
        });

        function getSearchObject() {

            var searchVm = {
                
                "MenuId": $("#MenuId").val(),
            }
            return searchVm;
        }

        function search() {
            var searchVm = getSearchObject();

            if ($.fn.DataTable.isDataTable("#MenuItemSearchTable")) {
                var table = $("#MenuItemSearchTable").DataTable();
                table.destroy();
            }

            var params = "";
            if (searchVm != undefined && searchVm !== "") {
                params = { searchVm: searchVm }
            }

            var oTable = $("#MenuItemSearchTable").DataTable({
                "aLengthMenu": [[25, 50, 100, 200], [25, 50, 100, 200]],
                "iDisplayLength": 25,
                "processing": true,
                "serverSide": true,
                "bSort": false,
                "ajax": {
                    url: "/MenuItem/Search",
                    type: "POST",
                    data: params
                },

                "columns": [
                    {
                        data: "SerialNo",
                        render: function (data, type, row, meta) {
                            return row.serialNo;
                        }
                    },
                    {
                        data: "MenuName",
                        render: function (data, type, row, meta) {
                            return row.menuName;
                        }
                    },
                    {
                        data: "Name",
                        render: function (data, type, row, meta) {
                            return row.name;
                        }
                    },
                    {
                        data: "ShortName",
                        render: function (data, type, row, meta) {
                            return row.shortName;
                        }
                    },
                    {
                        data: "Controller",
                        render: function (data, type, row, meta) {
                            return row.controller;
                        }
                    },
                    {
                        data: "ControllerAction",
                        render: function (data, type, row, meta) {
                            return row.controllerAction;
                        }
                    },
                    {
                        data: "Icon",
                        render: function (data, type, row, meta) {
                            return row.icon;
                        }
                    },
                    {
                        data: "OrderNo",
                        render: function (data, type, row, meta) {
                            return row.orderNo;
                        }
                    },
                    {
                        data: "Action",
                        render: function (data, type, row, meta) {
                            var editBtn = "<a href='UpdateRecord/" + row.id + "'><i class='fas fa-pen text-warning m-1' title='Edit' aria-hidden='true'></i></a>";
                            var deleteBtn = "<a href='Delete/" + row.id + "'><i class='fas fa-trash text-danger m-1' title='Delete' aria-hidden='true'></i></a>";
                            var actionBtn = editBtn + deleteBtn;
                            return actionBtn;
                        }
                    }
                ]
            });
        }
    </script>
}
