@model app.Services.PurchaseOrderServices.PurchaseOrderViewModel
@using app.Utility
@{
    ViewData["Title"] = "AddPurchaseOrderAndDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sl = 0;
}
<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
            </ol>
            <div>
                <a asp-action="Index"><i class="fa fa-list"></i> Purchase Order List </a>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">

                @if (Model.Id > 0)
                {
                    <h3 class="card-title text-info">
                        Purchase Order Information
                    </h3>
                }
                else
                {
                    <h3 class="card-title text-info">
                        Purchase Order
                    </h3>
                }
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="AddPurchaseOrderAndDetail" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" class="form-control" hidden id="purchaseorderId" />
                            <input asp-for="ActionId" hidden id="actionId" />
                            <input asp-for="PurchaseOrderDetailVM.Id" class="form-control" id="purchaseOrderDetailsId" hidden />

                            @if (Model.Id > 0)
                            {
                                <div class="card-body">
                                    <div class="row rounded">
                                        <table class="table table-bordered border-primary">
                                            <tr>
                                                <th style="width:18%">Purchase No</th>
                                                <td style="width:30%">@Model.OrderNo</td>

                                                <th style="width:18%"> Purchase Date</th>
                                                <td style="width:30%">@Model.PurchaseDate.ToString("dd-MM-yyyy")</td>
                                            </tr>
                                            <tr>
                                                <th>Supplier Name</th>
                                                <td>@Model.SupplierName</td>


                                                <th style="width:18%">Store Information</th>
                                                <td style="width:30%">@Model.StoreName</td>
                                            </tr>
                                            @*  <tr>

                                        <th>OverAll Discount</th>
                                        <td>@Model.OverallDiscount</td>
                                        <th style="width:18%">Order Status</th>
                                        <td style="width:30%">@Model.OrderStatusId</td>

                                        </tr> *@

                                        </table>
                                    </div>
                                </div>

                            }
                            @if (Model.Id == 0)
                            {
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Purchase Date </label>
                                            <input asp-for="PurchaseDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" type="date" autocomplete="off" required />
                                            <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Storehouse</label>
                                            <select class="form-control" asp-for="StorehouseId" asp-items="ViewBag.StorehouseList" required>
                                                <option value="0" selected>-- Select Storehouse --</option>
                                                <span asp-validation-for="StorehouseId" class="text-danger"></span>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Supplier</label>
                                            <select class="form-control" asp-for="SupplierId" asp-items="ViewBag.SupplierList" required>
                                                <option value="0" selected>-- Select Supplier --</option>
                                                <span asp-validation-for="SupplierId" class="text-danger"></span>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>OverAll Discount (Taka)</label>
                                            <input asp-for="OverallDiscount" class="form-control" />
                                            <span asp-validation-for="OverallDiscount" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="Description " class="control-label"></label>
                                            <textarea asp-for="Description" class="form-control" required rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.OrderStatusId == PurchaseOrderStatusEnum.Draft)
                            {
                                <div class="" style="padding-top:30px;">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Product</label>
                                                <select class="form-control" asp-for="PurchaseOrderDetailVM.ProductId" id="productId" asp-items="ViewBag.ProductList" required>
                                                    <option value="0" selected>-- Select Product --</option>
                                                    <span asp-validation-for="PurchaseOrderDetailVM.ProductId" class="text-danger"></span>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Purchase Qty</label>
                                                <input asp-for="PurchaseOrderDetailVM.PurchaseQty" id="purchaseQty" class="form-control" required />
                                                <span asp-validation-for="PurchaseOrderDetailVM.PurchaseQty" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Unit</label>
                                                <select class="form-control" asp-for="PurchaseOrderDetailVM.UnitId" id="unitId" asp-items="ViewBag.UnitList" required>
                                                    <option value="0" selected>-- Select Unit --</option>
                                                    <span asp-validation-for="PurchaseOrderDetailVM.UnitId" class="text-danger"></span>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Consumption</label>
                                                <input asp-for="PurchaseOrderDetailVM.Consumption" id="consumption" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Cost Price</label>
                                            <input asp-for="PurchaseOrderDetailVM.CostPrice" id="costPrice" class="form-control" required />
                                            <span asp-validation-for="PurchaseOrderDetailVM.CostPrice" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Sale Price</label>
                                            <input asp-for="PurchaseOrderDetailVM.SalePrice" id="salePrice" class="form-control" required />
                                            <span asp-validation-for="PurchaseOrderDetailVM.SalePrice" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Discount (Taka)</label>
                                            <input asp-for="PurchaseOrderDetailVM.Discount" id="discount" class="form-control" />
                                            <span asp-validation-for="PurchaseOrderDetailVM.Discount" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Remarks</label>
                                            <input asp-for="PurchaseOrderDetailVM.Remarks" id="txtRemarks" class="form-control" />
                                            <span asp-validation-for="PurchaseOrderDetailVM.Remarks" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="form-group" style="float:right">
                                <button type="submit" id="poCreateBtn" class="btn btn-primary btn-block">
                                    <i class='fa fa-plus'></i>
                                    @if (Model.Id > 0)
                                    {
                                        <span>Add Another</span>
                                    }
                                    else
                                    {
                                        <span>Create</span>
                                    }
                                </button>
                            </div>
                            @if (Model.Id > 0)
                            {
                                <input asp-for="Id" class="form-control" hidden />
                                <div class="table-responsive col-md-12  text-nowrap">
                                    <table id="KgErpDataTable" class="table caption-top">
                                        <thead class="table-light table-bordered border-primary">
                                            <tr>
                                                <th style="padding:5px;text-align:center;">SL</th>
                                                <th style="padding: 5px; text-align: left;">Product</th>
                                                <th style="padding: 5px; text-align: left;">Purchase Qty</th>
                                                <th style="padding: 5px; text-align: left;">Unit</th>
                                                <th style="padding: 5px; text-align: right; ">Consumption</th>
                                                <th style="padding: 5px; text-align: right; ">Cost Price</th>
                                                <th style="padding: 5px; text-align: right; ">Sale Price</th>
                                                <th style="padding: 5px; text-align: right; ">Total Price</th>
                                                @if (Model.OrderStatusId == PurchaseOrderStatusEnum.Draft)
                                                {
                                                    <th style="padding:5px;text-align:center;">Action</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.PurchaseOrderDetailsList)
                                            {

                                                <tr>
                                                    <td style="padding:5px">@(++sl)</td>
                                                    <td style="padding:5px;text-align:left;">@item.ProductName</td>
                                                    <td style="padding: 5px; text-align: left;">@item.PurchaseQty</td>
                                                    <td style="padding:5px;text-align:left;">@String.Format("{0:0.00}", item.UnitName)</td>
                                                    <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.Consumption)</td>
                                                    <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.CostPrice)</td>
                                                    <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.SalePrice)</td>
                                                    <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.TotalAmount)</td>

                                                    @{
                                                        if (Model.OrderStatusId == PurchaseOrderStatusEnum.Draft)
                                                        {
                                                            <td style="padding:5px;text-align:center;">
                                                                <a id="@item.Id" onclick="makeEditble(@item.Id);" class="linkPointer" title="Edit"><i class="text-warning fas fa-edit" aria-hidden="true"></i></a>
                                                                <a id="@item.Id" onclick="makeDeletable(@item.Id)" class="linkPointer"><i class="text-danger fas fa-trash" aria-hidden="true"></i></a>
                                                            </td>
                                                        }
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>




            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="ConfirmPurchaseOrder" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" class="form-control" hidden id="purchaseorderId" />
                            <input asp-for="ActionId" hidden id="actionId" />
                            <input asp-for="PurchaseOrderDetailVM.Id" class="form-control" id="purchaseOrderDetailsId" hidden />

                            @if (Model.Id > 0 && Model.OrderStatusId == PurchaseOrderStatusEnum.Draft)
                            {
                                <div class="form-group" style="float:right">
                                    <button id="confirmButton" class="linkPointer btn btn-success  btn-block">Confirm</button>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="DeletePurchaseOrderDetailsById" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="ActionId" hidden id="actionId" />
                            <input asp-for="PurchaseOrderDetailVM.Id" class="form-control" id="purchaseOrderDetailsId" hidden />

                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#Configuration').addClass('menu-open');
            $('#PurchaseOrderAddPurchaseOrderAndDetail').addClass('active');
        });


        //Purchase Order Details Edit
        function makeEditble(rowId) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateSinglePurchaseOrderDetails", "PurchaseOrder")",
                datatype: "Json",
                data: { id: rowId },
                success: function (data) {
                    $('#poCreateBtn').html("<i class='fas fa-edit'></i>&nbsp;Update");
                    $("#purchaseorderId").val(data.id);
                    $("#purchaseOrderDetailsId").val(data.id);
                    $('#actionId').val(2);
                    $("#productId").val(data.productId);
                    $("#unitId").val(data.unitId);
                    $("#purchaseQty").val(data.purchaseQty);
                    $("#consumption").val(data.consumption);
                    $("#costPrice").val(data.costPrice);
                    $("#salePrice").val(data.salePrice);
                    $("#discount").val(data.discount);
                    $("#txtRemarks").val(data.remarks);
                    window.scrollTo({ top: 0, behavior: 'smooth' });
                }
            });
        }

        //Confirm Purchase Order
        $("#confirmButton").on("click", function () {
            var id = @Model.Id;
            $.ajax({
                type: "POST",
                url: "/PurchaseOrder/ConfirmPurchaseOrder",
                data: { id: id },
                success: function (result) {
                    if (result) {
                        alert("Purchase confirmed successfully");
                        window.location.href = "/PurchaseOrder/Index/";

                    } else {
                        alert("Purchase confirmation failed");
                    }
                },
                error: function (error) {
                    // Handle the error case here
                    console.error("Error occurred during AJAX request:", error);
                }
            });
        });





        function makeDeletable(rowId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("DeletePurchaseOrderDetailsById", "PurchaseOrder")",
                data: { id: rowId },
                success: function (data) {
                    $("#purchaseOrderDetailsId").val(data.id);
                    $('#actionId').val(3);
                    window.scrollTo({ top: 0, behavior: 'smooth' });                   
                }
            });
        }



        // function makeDeletable(itemId) {
        //     $.ajax({
        //         type: 'DELETE',
        //         url: '/PurchaseOrder/DeletePurchaseOrderDetailsById?id=' + itemId, // Replace with the actual URL for the controller action
        //         success: function (response) {
        //             // Handle the success response, if needed
        //             console.log('Item deleted successfully');
        //             // Optionally, you can refresh the page or update the UI
        //             location.reload();
        //         },
        //         error: function (error) {
        //             // Handle the error response, if needed
        //             console.error('Error deleting item:', error);
        //         }
        //     });
        // }


    </script>
}



