@model app.Services.EmployeeServices.EmployeeViewModel
@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int SN = 1;
}
<style>
    .text-blue {
        color: blue;
    }

    .text-orange {
        color: orange;
    }

    .text-green {
        color: #008000;
    }

</style>

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Employee List </li>
            </ol>
            <div>
                <a asp-action="AddOrUpdateRecord"><i class="fa fa-plus"></i>  Add New Employee </a>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row w-100">
                    <div class="card-header">
                        <h3>
                            <i class="fas fa-list"></i>
                            All Employee
                        </h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="employeetable" class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Employee Code</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Designation</th>
                                <th>Mobile No</th>
                                <th>Joining Date</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.EmployeeList)
                            {
                                <tr>
                                    <td style="width:10px;">
                                        @(++SN)
                                    </td>
                                    <td>@item.EmployeeCode</td>
                                    <td>@item.Name</td>
                                    <td>@item.DepartmentName</td>
                                    <td>@item.DesignationName</td>
                                    <td>@item.MobileNo</td>
                                    <td>@item.JoiningDate.ToString("dd-MM-yyyy")</td>
                                    <td>@item.Email</td>
                                    <td class="text-center">
                                        @Html.ActionLink("", "Edit", new {id=item.Id},new {@class = "text-orange fas fa-edit",  onclick = "return confirm('Are you sure you want to edit this?')" }) |
                                        @Html.ActionLink("", "Details", new { id=item.Id }, new { @class = "text-blue fas fa-eye" }) 
                                       @*  @Html.ActionLink("","Export", new {  id=item.Id},new {@class = "text-green fas fa-file-export" }) *@
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>

</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        $(document).ready(function () {
            $('#Employee').addClass('menu-open');
            $('#EmployeeAddRecord').addClass('active');

            $('#employeetable').DataTable({

                "paging": true,
                "ordering": true,
                "info": true,
                order: [[0, 'desc']],
            });
        });
    </script>
  }


