@model app.Services.SalesOrderServices.SalesOrderViewModel
@using app.Utility
@{
    ViewData["Title"] = "AddSalesOrderAndDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sl = 0;
}
<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
            </ol>
            <div>
                <a asp-action="Index"><i class="fa fa-list"></i> Sales Order List </a>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">

                @if (Model.Id > 0)
                {
                    <h3 class="card-title text-info">
                        Sales Order Information
                    </h3>
                }
                else
                {
                    <h3 class="card-title text-info">
                        Sales Order
                    </h3>
                }
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="AddSalesOrderAndDetail" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" class="form-control" hidden id="salesOrderId" />
                            <input asp-for="ActionId" hidden id="actionId" />
                            <input asp-for="SalesOrderDetailVM.Id" class="form-control" id="salesOrderDetailsId" hidden />
                            <input asp-for="SalesProductDetailVM.Id" class="form-control" id="salesProductDetailsId" hidden />

                            @if (Model.Id > 0)
                            {
                                <div class="card-body">
                                    <div class="row rounded">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th style="width:18%">Invoice No</th>
                                                <td style="width:30%">@Model.OrderNo</td>
                                                <th style="width:18%">Invoice Date</th>
                                                <td style="width:30%">@Model.SalesDate.ToString("dd-MM-yyyy")</td>
                                            </tr>
                                            <tr>
                                                <th>Customer Name</th>
                                                <td>@Model.CustomerName</td>
                                                <th>Phone</th>
                                                <td>@Model.CustomerPhoneNo</td>
                                            </tr>
                                            <tr>
                                                <th>Delivery Date</th>
                                                <td>@Model.DeliveryDate?.ToString("dd-MM-yyyy")</td>
                                                <th style="width:18%">Delivery Address</th>
                                                <td style="width:30%">@Model.DeliveryAddress</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            }

                            @if (Model.Id == 0)
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Invoice Date</label>
                                            <input asp-for="SalesDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" type="date" autocomplete="off" required />
                                            <span asp-validation-for="SalesDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Storehouse</label>
                                            <select class="form-control" asp-for="StorehouseId" asp-items="ViewBag.StorehouseList" required>
                                                <option value="0" selected>-- Select Storehouse --</option>
                                                <span asp-validation-for="StorehouseId" class="text-danger"></span>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Customer</label>
                                            <select class="form-control" asp-for="CustomerId" asp-items="ViewBag.CustomerList" required>
                                                <option value="0" selected>-- Select Customer --</option>
                                                <span asp-validation-for="CustomerId" class="text-danger"></span>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Delivery Date</label>
                                            <input asp-for="DeliveryDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" type="date" class="form-control" autocomplete="off" required />
                                            <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Delivery Address</label>
                                            <input asp-for="DeliveryAddress" class="form-control" autocomplete="off" required />
                                            <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Overall Discount (Taka)</label>
                                            <input asp-for="OverallDiscount" class="form-control" />
                                            <span asp-validation-for="OverallDiscount" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>T&C Type</label>
                                            <select class="form-control" id="TermsAndConditionId" asp-for="TermsAndConditionId" asp-items="ViewBag.TermsandconditionList">
                                                <option value="0" selected>-- Terms & Condition --</option>
                                            </select>
                                            <span asp-validation-for="TermsAndConditionId" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Description" class="control-label"></label>
                                            <textarea asp-for="Description" class="form-control" rows="1"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="TermsAndCondition" class="control-label">Terms & Condition</label>
                                            <textarea asp-for="TermsAndCondition" class="form-control" id="txtTermsAndCondition" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                            }

                            @if (Model.OrderStatusId == (int)PurchaseOrderStatusEnum.Draft)
                            {
                                <div class="" style="padding-top:30px;">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Product</label>
                                                <select class="form-control" asp-for="SalesOrderDetailVM.ProductId" id="productId" asp-items="ViewBag.ProductList" required>
                                                    <option value="0" selected>-- Select Product --</option>
                                                    <span asp-validation-for="SalesOrderDetailVM.ProductId" class="text-danger"></span>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Unit</label>
                                                <select class="form-control" asp-for="SalesOrderDetailVM.UnitId" id="unitId" asp-items="ViewBag.UnitList" required>
                                                    <option value="0" selected>-- Select Unit --</option>
                                                    <span asp-validation-for="SalesOrderDetailVM.UnitId" class="text-danger"></span>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Sale Qty</label>
                                                <input asp-for="SalesOrderDetailVM.SalesQty" id="salesQty" class="form-control" required min="0" />
                                                <span asp-validation-for="SalesOrderDetailVM.SalesQty" class="text-danger"></span>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="row">
                                 
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Sale Price</label>
                                            <input asp-for="SalesOrderDetailVM.SalesPrice" id="salesPrice" class="form-control" required min="0" />
                                            <span asp-validation-for="SalesOrderDetailVM.SalesPrice" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Discount</label>
                                            <input asp-for="SalesOrderDetailVM.Discount" id="discount" class="form-control" min="0" />
                                            <span asp-validation-for="SalesOrderDetailVM.Discount" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Remarks</label>
                                            <input asp-for="SalesOrderDetailVM.Remarks" id="txtRemarks" class="form-control" />
                                            <span asp-validation-for="SalesOrderDetailVM.Remarks" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div id="product-details"></div>


                            }
                            <hr style="margin-top: 10px;">
                            <div class="form-group" style="float:right;">
                                <button type="submit" id="poCreateBtn" class="btn btn-primary btn-block">
                                    <i class='fa fa-plus'></i>
                                    @if (Model.Id > 0)
                                    {
                                        <span>Add Another</span>
                                    }
                                    else
                                    {
                                        <span>Create</span>
                                    }
                                </button>
                            </div>
                            @if (Model.Id > 0)
                            {
                                <input asp-for="Id" class="form-control" hidden />
                                <div class="table-responsive col-md-12  text-nowrap">
                                    <table id="KgErpDataTable" class="table caption-top">
                                        <thead class="table-light table-bordered border-primary">
                                            <tr>
                                                <th style="padding:5px;text-align:center;">SL</th>
                                                <th style="padding: 5px; text-align: left;">Product</th>
                                                <th style="padding: 5px; text-align: left;">Unit</th>
                                                <th style="padding: 5px; text-align: right;">Sale Qty</th>
                                                <th style="padding: 5px; text-align: right;">Sale Price</th>
                                                @* <th style="padding: 5px; text-align: right; ">WFD</th> *@
                                                @* <th style="padding: 5px; text-align: right; ">WTD</th> *@
                                                @* <th style="padding: 5px; text-align: right; ">Serial No</th> *@
                                                @* <th style="padding: 5px; text-align: right; ">Model No</th> *@
                                                <th style="padding: 5px; text-align: right; ">Total Price</th>
                                                @if (Model.OrderStatusId == (int)PurchaseOrderStatusEnum.Draft)
                                                {
                                                    <th style="padding:5px;text-align:center;">Action</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.SalesOrderDetailsList)
                                            {

                                                <tr>

                                                    <td style="padding: 5px">@(++sl)</td>
                                                    <td style="padding: 5px;text-align:left;">@item.ProductName</td>
                                                    <td style="padding: 5px;text-align:left;">@item.UnitName</td>
                                                    @* <td style="padding: 5px;text-align:left;">@String.Format("{0:0.00}", item.UnitName)</td> *@
                                                    <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.SalesPrice)</td>
                                                    <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.SalesQty)</td>
                                                    <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.Discount)</td>
                                                    @* <td style="padding: 5px; text-align: right;">@item.WarrantyFormDate?.ToString("dd-MM-yyyy")</td> *@
                                                    @* <td style="padding: 5px; text-align: right;">@item.WarrantyToDate?.ToString("dd-MM-yyyy")</td> *@
                                                    @* <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.SerialNo)</td> *@
                                                    @* <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.ModelNo)</td> *@
                                                    <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.TotalAmount)</td>
                                                    @{
                                                        if (Model.OrderStatusId == (int)PurchaseOrderStatusEnum.Draft)
                                                        {
                                                            <td style="padding:5px;text-align:center;">
                                                                <a id="@item.Id" onclick="makeEditble(@item.Id);" class="linkPointer" title="Edit"><i class="text-warning fas fa-edit" aria-hidden="true"></i></a> |
                                                                <a id="@item.Id" onclick="makeDeletable(@item.Id)" class="linkPointer"><i class="text-danger fas fa-trash" aria-hidden="true"></i></a>
                                                            </td>
                                                        }
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <div class="col-md-12">
                        @if (Model.Id > 0 && Model.OrderStatusId == (int)PurchaseOrderStatusEnum.Draft)
                        {
                            <div class="form-group" style="float:right">
                                <button asp-action="ConfirmPurchaseOrder" method="post" id="confirmButton" class="linkPointer btn btn-success  btn-block">Confirm</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById('salesQty').addEventListener('input', function () {
            const quantity = parseInt(this.value);
            const productDetailsDiv = document.getElementById('product-details');
            productDetailsDiv.innerHTML = '';

            for (let i = 1; i <= quantity; i++) {
                productDetailsDiv.innerHTML += `
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="serialNo_${i}">Serial No</label>
                        <input type="text" id="serialNo_${i}" name="SalesProductDetailVM.SerialNo[${i - 1}]" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="modelNo_${i}">Model No</label>
                        <input type="text" id="modelNo_${i}" name="SalesProductDetailVM.ModelNo[${i - 1}]" class="form-control" required>
                    </div>
                </div>               
            </div>
        `;
            }
        });

    </script>


    <script>
        $(document).ready(function () {
            $('#Sales').addClass('menu-open');
            $('#PurchaseOrderAddPurchaseOrderAndDetail').addClass('active');
        });

        $(document).ready(function () {
            $("#TermsAndConditionId").change(function () {
                var termsAndConditionId = $(this).val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetTermsAndCondition", "SalesOrder")",
                    data: { id: termsAndConditionId },
                    success: function (data) {
                        $('#txtTermsAndCondition').val(data.value);

                    },
                    error: function () {
                        console.log('Error fetching terms and condition.');
                    }
                });
            });
        });

        //Sales Order Details Edit

        function makeEditble(rowId) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateSingleSelesOrderDetails", "SalesOrder")",
                datatype: "Json",
                data: { id: rowId },
                success: function (data) {
                    $('#poCreateBtn').html("<i class='fas fa-edit'></i>&nbsp;Update");
                    $('#actionId').val(2);
                    $("#salesOrderId").val(data.id);
                    $("#salesOrderDetailsId").val(data.id);
                    $("#productId").val(data.productId);
                    $("#unitId").val(data.unitId);
                    $("#salesQty").val(data.salesQty);
                    $("#salesPrice").val(data.salesPrice);
                    $("#discount").val(data.discount);
                    $("#serialNo").val(data.serialNo);
                    $("#modelNo").val(data.modelNo);
                    $("#txtRemarks").val(data.remarks);


                    // Parse date if needed and adjust for timezone
                    var warrantyFormDate = new Date(data.warrantyFormDate);
                    var offset = warrantyFormDate.getTimezoneOffset();
                    warrantyFormDate = new Date(warrantyFormDate.getTime() - (offset * 60 * 1000));
                    var formattedDate = warrantyFormDate.toISOString().split('T')[0];
                    $("#warrantyFormDate").val(formattedDate);


                    // Parse date if needed and adjust for timezone
                    var warrantyToDate = new Date(data.warrantyToDate);
                    var offset = warrantyToDate.getTimezoneOffset();
                    warrantyToDate = new Date(warrantyToDate.getTime() - (offset * 60 * 1000));
                    var formattedDate = warrantyToDate.toISOString().split('T')[0];
                    $("#warrantyToDate").val(formattedDate);

                    window.scrollTo({ top: 0, behavior: 'smooth' });
                }
            });
        }



        function makeDeletable(rowId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("DeleteSalesOrderDetailsById", "SalesOrder")",
                data: { id: rowId },
                success: function (data) {
                    if (data) {
                        alert("Delete successfully");
                        window.location.href = "/SalesOrder/Index/";

                    } else {
                        alert("Delete failed");
                    }
                    window.scrollTo({ top: 0, behavior: 'smooth' });
                    location.reload();
                }
            });
        }


    </script>

}

